<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>

    <header>
      <div>
        <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout" id="logout">logout</a>

        {{else}}

            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/login">login</a>
 
        {{/if}}
        </nav>
      </div>
    </header>

    <main>
      <!-- pages-view are coming here: -->
      {{{ body }}}
    </main>

    <footer>
    </footer>

  </div>

  <!-- Make available this script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/main.js"></script>
</body>
</html>