<div id="dashboard-container">
    <div>
        <h2>Your Dashboard</h2>
    </div>

    <div id="myPosts-container"></div>

    <div>
        <button class="add-newpost" type="button">+ New Post</button>
    </div> 

</div>


<script src="/js/dashboard.js"></script>