<div class="containerTitle">
    <h2 class="window">Your Dashboard</h2>
</div>

<div id="dashboard-container" class="main-container">

    <div id="myPosts-container"></div>

    <div>
        <button class="add-newpost" type="button">+ New Post</button>
    </div> 

</div>

<script src="/js/dashboard.js"></script>