<div class="containerTitle">
    <h2 class="window">The Tech Blog</h2>
</div>

<div id="homepage-container" class="main-container">
   
    <div id="allPosts-container"></div>
  
</div>

<script src="/js/homepage.js"></script>