<div class="containerTitle">
    <h2 class="window">The Tech Blog</h2>
</div>

<div id="homepage-container" class="main-container">
   
    <div id="allPosts-container">
        {{#each posts as | onepost | }}

            <div class="cardTitle flex">
                <div>
                    {{onepost.title}}
                </div>
                <div class="postsign">
                    Posted by {{onepost.user.username}}
                    on {{onepost.date}}
                </div>
            </div>

        <div class="card">
                <div class="onePostDisplay-content">
                    {{onepost.content}}
                </div>
        </div>
        {{/each}}  
    </div>
  
</div>

<script src="/js/homepage.js"></script>