<div id="newComment-card">
    <div>
        <label for="newCommentContent">Comment</label>
        <input type="input" id="newCommentContent" />
    </div>
    <div>
        <button id="newCommentSubmit" type="button">Submit</button>
    </div>
</div>

<script src="/js/newcomment.js"></script>