<div>
    <h2 class="cardTitle comment">New Comment</h2>
</div>

<div id="newComment-card" class="card">
    <div>
        <label for="newCommentContent">Comment</label><br/>
        <input type="input" id="newCommentContent" />
    </div>
    <div>
        <button id="newCommentSubmit" class="card-btn" type="button">Submit</button>
    </div>
</div>

<script src="/js/newcomment.js"></script>