<div class="containerTitle">
    <h2 class="window">Your Dashboard</h2>
</div>

<div id="post-container" class="main-container">

    <div>
        <h3 class="cardTitle">Edit Post</h3>
    </div>

    <div id="editPost-card" class="card">

        <form id="editPost-form">
            <div>
                <label for="editPost-title">Title</label><br/>
                <input type="input" id="newPost-title" />
            </div>
            <div>
                <label for="editPost-content">Content</label><br/>
                <input type="input" id="editPost-content" />
            </div>
            <div>
                <button id="editPost-submit" class="card-btn" type="submit">Update Post</button>
            </div>
            <div>
                <button id="editPost-delete" class="card-btn" type="submit">Delete</button>
            </div>
        </form>
    </div>

    <div>
        <button class="add-newPost" type="button">+ New Post</button>
    </div>

</div>

<script src="/js/post.js"></script>