<h2>Login</h2>

<form id="login-form">
  <div>
    <label for="user-name-login">username:</label>
    <input type="input" id="user-name-login" />
  </div>
    <div></div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login!</button>
  </div>
</form>
  <div>
    <button id="change-to-signup" type="button">Sign up instead</button>
  </div>

<script src="/js/login.js"></script>