<h2>Sign Up</h2>

<form id="signup-form">
  <div>
    <label for="user-name-signup">username:</label>
    <input type="input" id="user-name-signup" />
  </div>
    <div></div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Sign Up!</button>
  </div>
</form>
  <div>
    <button id="change-to-login" type="submit">Login instead</button>
  </div>

<script src="./../public/js/signup.js"></script>