  <div class="containerTitle">
    <h2 class="window">The Tech Blog</h2>
  </div>

<div id="signup-container" class="main-container">

  <div>
    <p>Create a New User:</p>
  </div>

  <div >
    <h3 class="cardTitle">Sign Up</h3>
  </div>
  
  <div id="signup-card" class="card">

    
      <form id="signup-form">
        <div>
          <label for="user-name-signup">Username:</label>
          <input type="input" id="user-name-signup" />
        </div>

        <div>
          <label for="password-signup">Password:</label>
          <input type="password" id="password-signup" />
        </div>

        <div>
          <button id="signup-submit" class="card-btn"  type="submit">Sign Up!</button>
        </div>
      </form>

      <div>
        <button id="change-to-login" class="change-btn" type="submit">Login instead</button>
      </div>
  </div>

</div>

<script src="/js/signup.js"></script>